body {
    background-color: white;
}

.welcome-header {
    background-color: #ddd;
}

.card {
    margin: 10px;
    border-radius: 1rem;
    padding: 0;
}

.card .card-img-top {
    border-radius: 1rem 1rem 0 0;
}

#self-introduction-text {
    text-align: center;
}

.product-header {
    background-color: #ddd;
    font-family: 'Raleway', sans-serif;
    color: black;
    border: medium solid #ddd;
}

.product-header .title {
    background-color: #FFF;
}

.carousel-item .img-fluid {
    width: 100%;
    height: auto;
}

.carousel-item {
    height: auto;
}


/* .product-header .title h1 {
    text-align: center;
} */